<div class="container mt-3">
  <div class="d-flex align-items-center justify-content-between py-4 results">
      <h2>Plantillas</h2>
  </div>
  <div class="row">
      <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
          <div class="card"> <img class="card-img-top" src="../../../assets/shoe insoles/colmena-hombre.jpg">
              <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                      <div class="d-flex flex-column">
                          <div class="h6 font-weight-bold">Colmena Hombre</div>
                      </div>
                      <div class="btn"><span class="far fa-heart"></span></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
          <div class="card"> <img class="card-img-top" src="../../../assets/shoe insoles/colmena-dama.jpg">
              <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                      <div class="d-flex flex-column">
                          <div class="h6 font-weight-bold">Colmena Dama</div>
                      </div>
                      <div class="btn"><span class="far fa-heart"></span></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
          <div class="card"> <img class="card-img-top" src="../../../assets/shoe insoles/deportiva.jpg">
              <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                      <div class="d-flex flex-column">
                          <div class="h6 font-weight-bold">Deportiva</div>
                      </div>
                      <div class="btn"><span class="far fa-heart"></span></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
          <div class="card"> <img class="card-img-top" src="../../../assets/shoe insoles/dotacion.jpg">
              <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                      <div class="d-flex flex-column">
                          <div class="h6 font-weight-bold">Dotación</div>
                      </div>
                      <div class="btn"><span class="far fa-heart"></span></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>