<div class="container mt-3">
  <div class="d-flex align-items-center justify-content-between py-4 results">
      <h2>Plantillas</h2>
  </div>
  <div class="row">
      <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
          <div class="card"> <img class="card-img-top" src="https://scontent.fpei3-1.fna.fbcdn.net/v/t1.6435-9/122666189_174474430938444_1123702831269332026_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=fiWqiJJlQSsAX-zREyj&_nc_ht=scontent.fpei3-1.fna&oh=e669506c78dcb4f2c58fc30a1f8b162f&oe=609EFCFE">
              <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                      <div class="d-flex flex-column">
                          <div class="h6 font-weight-bold">Colmena Hombre</div>
                      </div>
                      <div class="btn"><span class="far fa-heart"></span></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
          <div class="card"> <img class="card-img-top" src="https://scontent.fpei3-1.fna.fbcdn.net/v/t1.6435-9/122528703_174474477605106_1334020794951095573_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_ohc=fyqbK8oxlLwAX9ZT2wd&_nc_ht=scontent.fpei3-1.fna&oh=4319d20a6b626541f9852d1018ae2457&oe=60A04EA3">
              <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                      <div class="d-flex flex-column">
                          <div class="h6 font-weight-bold">Colmena Dama</div>
                      </div>
                      <div class="btn"><span class="far fa-heart"></span></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
          <div class="card"> <img class="card-img-top" src="https://scontent.fpei3-1.fna.fbcdn.net/v/t1.6435-9/122545897_174474450938442_9029781551297526274_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=hBzqJXlWG1AAX9q-gTw&_nc_ht=scontent.fpei3-1.fna&oh=6fa5e08897c720607c80b9dedbc16f0d&oe=60A133E4">
              <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                      <div class="d-flex flex-column">
                          <div class="h6 font-weight-bold">Deportiva</div>
                      </div>
                      <div class="btn"><span class="far fa-heart"></span></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
          <div class="card"> <img class="card-img-top" src="https://scontent.fpei3-1.fna.fbcdn.net/v/t1.6435-9/122592424_174474457605108_7460541201557707932_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=t6hz_K-gissAX98DdPN&_nc_ht=scontent.fpei3-1.fna&oh=1eaf666a6097d556a21403370cbbd00d&oe=60A1228E">
              <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between">
                      <div class="d-flex flex-column">
                          <div class="h6 font-weight-bold">Dotación</div>
                      </div>
                      <div class="btn"><span class="far fa-heart"></span></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>