<div class="holder">
    <div class="animate__animated animate__zoomIn animate__slow">
        <h3>Misión</h3>
        <p align="justify" style="max-width: 400px">Ofrecer soluciones de calidad, ágiles y eficientes, procurando siempre superar las espectativas de nuestros clientes</p>
        <h3>Visión</h3>
        <p align="justify" style="max-width: 400px">Fomentar ambientes adecuados para el desarrollo integral de las personas a nivel técnico y personal, generando un impacto positivo en la sociedad</p>
    </div>
</div>
