<div class= "holder">
    <h3 class="text-center">Diseño, Ingeniería y Producción.</h3>
    <p align="justify" style="max-width: 400px">
        Somos una empresa de diseño y fabricación de productos a base de Poliuretano.
        <br>
        <br>
        Productos:
        <br>
        - Plantilla en Poliuretano, varias hormas y varias tallas.
        <br>
        <br>
        Servicios:
        <br>
        - Inyección de plantillas.
        <br>
        - Inyección de productos en Poliuretano.
        <br>
        - Fabricación de moldes.
        <br>
        - Impresión 3D.</p>
    <div class="text-center" id="insoles">
        <img src="../../../assets/disegnosuela.png" class="rounded" width="350" height="auto" >
    </div> 
</div>