* html, body {
    background: #ffff5a;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    font-family: 'Russo One', sans-serif;
  }
  
  button {
    background-color: #f0f4c3;
    border: 0px;
    color: #000000;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #bdc192;
    color: #000000;
    position: relative;
    bottom: 5px;
  }
  
  button:focus{ 
    outline: none;
  }
  
  input {
    display: block;
    margin: 5px;
  }

  .navbar {
    background: #bdc192;
    width: 100%;
    margin-top: 0%;
    padding: 0%;
  }
  .nav-link {
    color: #000000;
  }

  .nav-link:hover {
    color:#000000;
    position: relative;
    bottom: 2px;
  }

  #title{
    background: #bdc192;
    color: #000000;
    min-height: 100px;
    margin-bottom: 0%;
    padding-top: 30px;
  }

.card {
    border: none;
    cursor: pointer
}

.card:hover {
    transform: scale(1.08);
    transition: all 0.4s ease-in-out
}

img {
    object-fit: contain;
}

.card-body {
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-right: 0.2rem
}

.social {
  padding: 5px;
  list-style-type: none;

}

a:hover {
  color:#000000;
  position: relative;
  bottom: 2px;
}

a {
  color:#000000;
}

#contact-form {
  max-width: 600px;
}

.holder{ 
  background-image: linear-gradient(#f0f4c3,  #fffff6);
  text-align: center;
  color: #000;
  min-height: 600px;
  height: auto !important;
}

form {
  display: inline-block;
}

.lightbox-gallery {
 
  background-repeat: no-repeat;
  color: #000;
  overflow-x: hidden
}

.lightbox-gallery p {
  color: #000000
}

.lightbox-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: #000000
}

@media (max-width:767px) {
  .lightbox-gallery h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px
  }
}

.lightbox-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px
}

.lightbox-gallery .intro p {
  margin-bottom: 0
}

.lightbox-gallery .photos {
  padding-bottom: 20px
}

.lightbox-gallery .item {
  padding-bottom: 30px
}

#socialnavbar {
  background-image: linear-gradient(#bdc192,  #f0f4c3);
  min-height: 100px;
  margin-top: 0%;
  margin-bottom: 0%;
}

#bottombar {
  text-align: center;
  background: #fffff6;
  min-height: 200px;
  height: auto !important;
}

#maincontainer {
  background-image: linear-gradient(#f0f4c3,  #fffff6);
  min-height: 600px;
  height: auto !important;
  height: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
}

p {
  max-width: 100%;
}

#logo {
  padding: 5px 10px;
}

#insoles {
  padding: 5px 10px;
}