* html, body {
    background: #ffffff;
    margin-top: 20px;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    font-family: 'Russo One', sans-serif;
 
  }
  
  button {
    background-color: rgb(216, 252, 14);
    border: 0px;
    color: #000000;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0000d6;
    color: #ffffff;
  }
  
  button:focus{ 
    outline: none;
  }
  
  input {
    display: block;
    margin: 5px;
  }

  .navbar {
    background: #dff90c;
    width: 100%;
  }
  .nav-link, .navbar-brand {
    color: #000000;
  }

  .nav-link:hover {
    color:#000000;
    position: relative;
    bottom: 2px;
  }

  #title{
    background-color: #0000d6;
    color: #ffffff;
  }

  .results {
    font-weight: 600
}

.card {
    border: none;
    cursor: pointer
}

.card:hover {
    transform: scale(1.08);
    transition: all 0.4s ease-in-out
}

img {
    background-color: #dff90c;
    object-fit: contain;
    padding: 10px
}

.card-body {
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-right: 0.2rem
}

.social {
  padding: 5px;
}

a:hover {
  color:#000000;
  position: relative;
  bottom: 2px;
}

a {
  color:#000000;
}

#message { 
  display: ruby-text-container;
  margin: 5px;
  height: 200px;
  width: 400px; 
}