* html, body {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    font-family: 'Russo One', sans-serif;
    --main-bg-color: #eceff1;
    --secondary-bg-color: #eceff1;
    --third-bg-color: #ffffff;
    --font-bg-color: #455a64;
    --navbar-bg-color: #d4e157;
    --navbar-back-bg-color: #01579b;
    --title-color: #01579b;
    --conctact-color: #455a64;
    --nav-letters-color: #d4e157;
    --nav-letters-hover-color: #01579b;
    --btn-h3-font-bg-color: #01579b;
  }

  p{
    vertical-align: middle;
    margin: auto
  }

  h3 {
    color: var(--btn-h3-font-bg-color);
  }

  button {
    background-color: var(--main-bg-color);
    border: 0px;
    color: var(--btn-h3-font-bg-color);
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: var(--secondary-bg-color);
    position: relative;
    bottom: 5px;
  }
  
  button:focus{ 
    outline: none;
  }
  
  input {
    display: block;
    margin: 5px;
  }

  #title{
    background: var(--main-bg-color);
    color: var(--title-color);
    min-height: 100px;
    margin-bottom: 0%;
    padding-top: 30px;
  }

.card {
    border: none;
    cursor: pointer;
    color: var(--nav-letters-color);
    background-color: var(--navbar-back-bg-color);
    margin-bottom: 10px;
    padding:1px;
}

.card:hover {
    transform: scale(1.08);
    transition: all 0.4s ease-in-out
}

img {
    object-fit: contain;
}

.card-body {
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-right: 0.2rem
}

.social {
  padding: 5px;
  list-style-type: none;

}

a:hover {
  color: var(--font-bg-color);
  position: relative;
  bottom: 2px;
}

a {
  color: var(--font-bg-color);
}

#contact-form {
  max-width: 600px;
}

.holder{ 
  background-image: linear-gradient(var(--secondary-bg-color),  var(--third-bg-color));
  text-align: center;
  color: var(--font-bg-color);
  min-height: 600px;
  height: auto !important;
  vertical-align: middle;
}

form {
  display: inline-block;
}

.lightbox-gallery {
 
  background-repeat: no-repeat;
  color: var(--font-bg-color);
  overflow-x: hidden
}

.lightbox-gallery p {
  color: var(--font-bg-color);
}

.lightbox-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: var(--font-bg-color);
}

@media (max-width:767px) {
  .lightbox-gallery h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px
  }
}

.lightbox-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px
}

.lightbox-gallery .intro p {
  margin-bottom: 0
}

.lightbox-gallery .photos {
  padding-bottom: 20px
}

.lightbox-gallery .item {
  padding-bottom: 30px
}

#socialnavbar {
  background-image: linear-gradient(var(--main-bg-color), var(--secondary-bg-color));
  min-height: 100px;
  margin-top: 0%;
  margin-bottom: 0%;
}

#bottombar {
  text-align: center;
  background: var(--third-bg-color);
  min-height: 200px;
  height: auto !important;
  color:var(--conctact-color);
}

#maincontainer {
  background-image: linear-gradient(var(--secondary-bg-color), var(--third-bg-color));
  min-height: 600px;
  height: auto !important;
  height: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
}

#insoles {
  margin: auto;
  padding-top: 100px;

}

.newnavbar {
  background: var(--navbar-back-bg-color);
  text-align: center;
  color: var(--font-bg-color);
  min-height: 64px;
  height: auto !important;
}

.header {
  background:  var(--navbar-bg-color);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: var(--navbar-back-bg-color);
}

.header li a {
  display: block;
  color:var(--nav-letters-color);
  padding: 5px 5px;
  border-right: 1px solid var(--navbar-bg-color);
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color:  var(--navbar-bg-color);
  color: var(--nav-letters-hover-color);
}

.header .logo {
  margin-left: 20px;
  display: block;
  float: left;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--nav-letters-color);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--nav-letters-color);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}